.tabla{
    border: 1px ;
}

.titulos{
    font-family:Georgia, 'Times New Roman', Times, serif; 
    text-align: center;
}
.destinos{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 220px;
}